
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Teaser</h1>

<f:flashMessages />

<table  class="tx_teasermanager" >
	<tr>
		<th><f:translate key="tx_teasermanager_domain_model_teaser.title" /></th>
		<th><f:translate key="tx_teasermanager_domain_model_teaser.subtitle" /></th>
		<th><f:translate key="tx_teasermanager_domain_model_teaser.link" /></th>
		<th><f:translate key="tx_teasermanager_domain_model_teaser.text" /></th>
		<th><f:translate key="tx_teasermanager_domain_model_teaser.date" /></th>
		<th><f:translate key="tx_teasermanager_domain_model_teaser.icon" /></th>
		<th><f:translate key="tx_teasermanager_domain_model_teaser.image" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{teasers}" as="teaser">
		<tr>
			<td><f:link.action action="show" arguments="{teaser : teaser}"> {teaser.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{teaser : teaser}"> {teaser.subtitle}</f:link.action></td>
			<td><f:link.action action="show" arguments="{teaser : teaser}"> {teaser.link}</f:link.action></td>
			<td><f:link.action action="show" arguments="{teaser : teaser}"> {teaser.text}</f:link.action></td>
			<td><f:link.action action="show" arguments="{teaser : teaser}"> {teaser.date -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{teaser : teaser}"> {teaser.icon}</f:link.action></td>
			<td><f:link.action action="show" arguments="{teaser : teaser}"> {teaser.image.originalResource.name}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{teaser : teaser}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{teaser : teaser}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Teaser</f:link.action>
</f:section>