
<table class="tx-teaser-manager" >
	<tr>
		<td>
			<f:translate key="tx_teasermanager_domain_model_teaser.title" />
		</td>
		<td>
			{teaser.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_teasermanager_domain_model_teaser.subtitle" />
		</td>
		<td>
			{teaser.subtitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_teasermanager_domain_model_teaser.link" />
		</td>
		<td>
			{teaser.link}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_teasermanager_domain_model_teaser.text" />
		</td>
		<td>
			{teaser.text}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_teasermanager_domain_model_teaser.date" />
		</td>
		<td>
			{teaser.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_teasermanager_domain_model_teaser.icon" />
		</td>
		<td>
			{teaser.icon}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_teasermanager_domain_model_teaser.image" />
		</td>
		<td>
			{teaser.image.originalResource.name}
		</td>
	</tr>
</table>